*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

html,
body {
  font-size: 10px;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  color: var(--text_color);
}

.container {
  max-width: 119rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: var(--btn-text_color);
  background-color: var(--btn_color);
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  padding: 1.4rem 4rem;
  -webkit-transition: color .3s linear, background-color .3s linear;
  transition: color .3s linear, background-color .3s linear;
}

.btn:hover {
  color: var(--btn-text_color--hover);
  background-color: var(--btn_color--hover);
}

.title {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--text_color);
}

.card__title {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--text_color);
}

.flex-aic-jcsb, .header__wrap, .header__menu-list, .header__social, .about__wrap, .catalog__top, .popular__swiper-box, .reviews__swiper-box, .partners__wrap, .footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center-center, .reviews__slide-play, .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-column-aic-jcsb, .reviews__swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-aic-start, .popular__slide-color, .gallery__top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

:root {
  --light_color: #fff;
  --btn-text_color: #513F29;
  --btn_color: #F3D5AE;
  --btn_color--hover: #F6C483;
  --btn-text_color--hover: #46341D;
  --text_color: #262626;
  --text_color2: #595959;
  --accent_color: #7F713E;
}

.header {
  padding-top: 1.6rem;
}

.header__wrap {
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: var(--light_color);
}

.header__logo {
  max-width: 14.3rem;
}

.header__menu-list li + li {
  margin-left: 0.8rem;
}

.header__menu-list a {
  border: 1px solid transparent;
  border-radius: 10rem;
  padding: 0.6rem 1rem;
  -webkit-transition: border .3s linear;
  transition: border .3s linear;
}

.header__menu-list a:hover {
  border: 1px solid var(--light_color);
  border-radius: 10rem;
  padding: 0.6rem 1rem;
}

.header__social .phone {
  margin-right: 3.2rem;
}

.header__social a + a {
  margin-right: 1.6rem;
}

.header__social svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--light_color);
}

.hero {
  background-image: url(../images/main_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100vh;
  margin-top: -80px;
  margin-bottom: 6rem;
}

.hero__wrap {
  padding-top: 28%;
  text-align: center;
}

.hero__title {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--light_color);
  max-width: 66.4rem;
  margin: 0 auto 1.6rem;
}

.hero__desc {
  font-size: 2.4rem;
  line-height: 1.5;
  text-align: center;
  color: var(--light_color);
  max-width: 47.7rem;
  margin: 0 auto 4rem;
}

.about {
  padding-top: 6rem;
  margin-bottom: 6rem;
}

.about__title {
  margin-bottom: 4.8rem;
}

.about__text {
  font-size: 2.4rem;
  line-height: 1.5;
  max-width: 46rem;
}

.about__text + .about__text {
  margin-bottom: 2rem;
}

.catalog {
  padding-top: 6rem;
  margin-bottom: 6rem;
}

.catalog__top {
  margin-bottom: 4.8rem;
}

.catalog__link {
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: var(--accent_color);
}

.catalog__link svg {
  width: 1.8rem;
  height: 1.8rem;
  vertical-align: middle;
}

.catalog__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

.catalog__box .big__item {
  grid-column: span 2;
  max-width: 100%;
}

.catalog__box-item {
  position: relative;
  background: #E9E7DA;
  border-radius: 0.4rem;
  max-width: 36rem;
  height: 30rem;
  overflow: hidden;
}

.catalog__box-item2, .catalog__box-item4 {
  background: #FBF4F4;
}

.catalog__box-item3, .catalog__box-item7 {
  background: #FFF2E1;
}

.catalog__box-item5 {
  background: #F9F9F9;
}

.catalog__box-item6 {
  background: #F8FBF4;
}

.catalog__box-wrap {
  position: relative;
  top: 3.2rem;
  left: 3.2rem;
  max-width: 30rem;
  margin-bottom: 11rem;
}

.catalog__box-title {
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.catalog__box-desc {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}

.catalog__box-link {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--accent_color);
}

.catalog__box-link svg {
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: middle;
}

.catalog__box-img {
  position: absolute;
}

.catalog__box-img1 {
  right: -10%;
  bottom: 18%;
}

.catalog__box-img2 {
  right: -10%;
  bottom: 5%;
}

.catalog__box-img3 {
  right: -70%;
  bottom: -14%;
}

.catalog__box-img4 {
  right: -15%;
  bottom: 1%;
}

.catalog__box-img5 {
  right: -10%;
  bottom: -15%;
}

.catalog__box-img6 {
  right: -3%;
  bottom: 25%;
}

.catalog__box-img7 {
  right: -5%;
  bottom: -10%;
}

.popular {
  padding-top: 6rem;
  margin-bottom: 6rem;
}

.popular__title {
  text-align: left;
}

.popular__swiper {
  width: 100%;
}

.popular__swiper-box {
  position: relative;
  max-width: 116rem;
  margin: 0 auto 4.8rem;
}

.popular__slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  min-width: 26rem;
  width: 100%;
  max-height: 54.3rem;
  background: #F9F9F9;
  border-radius: 0.4rem;
  padding: 3.2rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.popular__slide-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.popular__slide-title {
  margin-bottom: 0.4rem;
}

.popular__slide-desc {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text_color2);
  margin-bottom: 2.4rem;
}

.popular__slide-price {
  font-size: 2.4rem;
  line-height: 1.16;
  color: var(--accent_color);
  margin-bottom: 2.4rem;
}

.popular__slide-color span {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.2rem;
}

.popular__slide-color span + span {
  margin-left: 0.8rem;
}

.popular__slide:hover .popular__btn {
  display: block;
}

.popular__btn {
  display: none;
  width: 100%;
  margin-top: 3.2rem;
}

.form {
  padding-top: 6rem;
  max-width: 96rem;
  margin: 0 auto 6rem;
  font-size: 1.6rem;
  line-height: 1.5;
}

.form__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.form__title {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.form__desc {
  margin-bottom: 4.8rem;
}

.form form {
  padding: 4.8rem;
  background: #F9F9F9;
  border-radius: 4px 0px 0px 4px;
}

.form__input {
  width: 100%;
  border: 1px solid #BFBFBF;
  border-radius: 0.4rem;
  padding: 1.4rem 2.4rem;
  margin-bottom: 1.6rem;
  background-color: transparent;
}

.form__input::-webkit-input-placeholder {
  color: #8C8C8C;
}

.form__input:-ms-input-placeholder {
  color: #8C8C8C;
}

.form__input::-ms-input-placeholder {
  color: #8C8C8C;
}

.form__input::placeholder {
  color: #8C8C8C;
}

.form__btn {
  margin-bottom: 1.6rem;
}

.form__text {
  font-size: 1.3rem;
  opacity: 0.6;
}

.form__text a {
  text-decoration: underline;
}

.form__img {
  border-radius: 0px 4px 4px 0px;
}

.reviews {
  padding-top: 6rem;
  margin-bottom: 6rem;
}

.reviews__title {
  text-align: left;
}

.reviews__swiper {
  width: 100%;
  margin-bottom: 4.8rem;
}

.reviews__swiper-box {
  position: relative;
  max-width: 116rem;
  margin: 0 auto 4.8rem;
}

.reviews__swiper-slide {
  min-width: 26rem;
  width: 100%;
  height: 42.3rem;
  border-radius: 0.4rem;
  overflow: hidden;
}

.reviews__swiper-slide1 {
  background: #7F713E;
  color: var(--light_color);
}

.reviews__swiper-slide3 {
  background: #E3C59E;
}

.reviews__swiper-slide5 {
  background: #E5D9BE;
}

.reviews__swiper-slide7 {
  background: #E9E7DA;
}

.reviews__slide-top {
  padding: 3.2rem 2.4rem 0;
}

.reviews__slide-bottom {
  padding: 0 2.4rem 3.2rem;
}

.reviews__slide-title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 0.8rem;
}

.reviews__slide-desc {
  font-size: 1.6rem;
  line-height: 1.5;
}

.reviews__slide-img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
}

.reviews__slide-name {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
}

.reviews__slide-play {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  position: absolute;
  bottom: 5.2rem;
  text-align: center;
  background: rgba(127, 113, 62, 0.7);
  border: none;
  cursor: pointer;
}

.reviews__slide-play svg {
  fill: var(--light_color);
}

.reviews__link {
  display: block;
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--accent_color);
  text-align: center;
  text-decoration: underline;
}

.gallery {
  padding-top: 6rem;
  margin-bottom: 6rem;
}

.gallery__top {
  max-width: 116rem;
  margin: 0 auto 2.4rem;
  text-align: left;
}

.gallery__top-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #212121;
  max-width: 38rem;
  margin-bottom: 4rem;
}

.gallery__top-title a {
  color: #E3C59E;
  text-decoration: underline;
}

.gallery__top-box img {
  width: 6rem;
  height: 6rem;
  margin-right: 2.4rem;
}

.gallery__top-box p {
  font-size: 2.4rem;
  line-height: 1.2;
  color: #262626;
}

.gallery__top-box .small__text {
  font-size: 1.6rem;
  line-height: 1.2;
}

.gallery__top-box .small__text + .small__text {
  margin-left: 1.6rem;
}

.gallery__top-box span {
  font-size: 1.2rem;
  line-height: 1.2;
  color: #8C8C8C;
  margin-left: 1rem;
}

.gallery__top-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__img-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1.6rem;
  max-width: 188rem;
  margin: 0 auto;
}

.gallery__img-box img {
  border-radius: 0.4rem;
}

.partners {
  padding-top: 6rem;
  margin-bottom: 6rem;
}

.footer {
  padding: 4rem 0;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--light_color);
  background: var(--text_color);
}

.footer__logo {
  display: inline-block;
  fill: var(--light_color);
  margin-bottom: 1.6rem;
}

.footer__copy {
  font-size: 1.3rem;
  line-height: 1.5;
}

.footer p {
  margin-bottom: 1.6rem;
  max-width: 27rem;
}

.footer__phone {
  display: inline-block;
  margin-bottom: 1.6rem;
}

.footer__item-link {
  display: block;
  margin-bottom: 1.6rem;
  max-width: 27rem;
}

.footer__btn {
  margin-bottom: 1.6rem;
}

.footer__social {
  margin-bottom: 1.6rem;
}

.footer__social svg {
  fill: var(--light_color);
}

.footer .design {
  font-size: 1.3rem;
  line-height: 1.4;
}

.footer .design a {
  text-decoration: underline;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.button__group {
  width: 8.8rem;
  height: 4rem;
}

.custom__button-prev,
.custom__button-next {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid var(--accent_color);
  border-radius: 0.4rem;
}

.custom__button-prev svg,
.custom__button-next svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: transparent;
}

.custom__button-prev svg path,
.custom__button-next svg path {
  stroke: var(--accent_color);
}

.custom__button-prev {
  left: 0;
  top: 2.2rem;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.custom__button-next {
  right: -5rem;
  top: 0.4rem;
}
