.header{
  padding-top: 1.6rem;
  &__wrap{
    @extend .flex-aic-jcsb;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    color: var(--light_color);
  }
  &__logo{
    max-width: 14.3rem;  
    z-index: 1;
    .logo__mobile{
      display: none;
    }
  }

  .phone{
    z-index: 1;
  }
  &__menu{
    display: block;
  }
  &__burger-menu{
    display: none;
  }
  &__menu-list{
    @extend .flex-aic-jcsb;
    li + li{
      margin-left: 0.8rem;
    }
    a{
      border: 1px solid transparent;
      border-radius: 10rem;
      padding: 0.6rem 1rem;
      transition: border .3s linear;
    }
    a:hover{
      border: 1px solid var(--light_color);
      border-radius: 10rem;
      padding: 0.6rem 1rem;
    }
  }
  &__social{
    @extend .flex-aic-jcsb;
    .phone{
      margin-left: 3.2rem;
      margin-right: 3.2rem;
      transition: transform 0.2s linear;
      &:hover{
        transform: scale(1.1);
      }
    }
    a{
      margin:0 0.8rem;
    }
    svg{
      width: 2.4rem;
      height: 2.4rem;
      fill: var(--light_color);
      &:hover{
        transform: scale(1.2);
      }
    }
  }
  .burger__btn{
    display: none;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    span{
      display: block;
      position: relative;
      top: 40%;
      width: 3rem;
      height: 0.2rem;
      background-color: var(--light_color);
      &::after,&::before{
        content:'';
        display: block;
        position: absolute;
        width: 3rem;
        height: 0.2rem;
        background-color: var(--light_color);
      }
      &::before{
        top: -1rem;
      }
      &::after{
        bottom: -1rem;
      }
    }
  }
}

@media (max-width:1100px) {
  .header{
    &__logo{
      margin-right: 10rem;
    }
    &__wrap{
      flex-wrap: wrap;
    }
    &__menu{
      order: 1;
      margin: 3rem auto;
    }
    .phone{
      transform: translateX(-50%);
    }
  }
}
@media (max-width:700px){
  .header{
    &__logo{
      margin-right: 0;
      .logo__desctop{
        display: none;
      }
      .logo__mobile{
        display: block;
      }
    }
    &__menu{
      display: none;
    }
    &__burger-menu{
      display: block;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 6rem;
      width: 100%;
      height: 100vh;
      background-color: #7F713E;
      z-index: 0;
      li + li{
        margin-top: 1.6rem;
      }
    }
    .social{
      display: none;
    }
    .phone{
      transform: translateX(-5%);
    }
    &__burger-menu .social{
      display: block;
      margin-top: 2.4rem;
    }
    .burger__btn{
      display: block;
    }
  }
}