.partners{
  padding-top: 6rem;
  margin-bottom: 6rem;
  &__wrap{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
    justify-items: center;
  }
}

@media (max-width:1000px){
  .partners{
    &__wrap{
      grid-template-columns: repeat(5,1fr);
    }
    img{
      margin-bottom: 3rem;
    }
  }
}
@media (max-width:800px){
  .partners{
    &__wrap{
      grid-template-columns: repeat(4,1fr);
    }
  }
}
@media (max-width:650px){
  .partners{
    &__wrap{
      grid-template-columns: repeat(3,1fr);
    }
  }
}
@media (max-width:500px){
  .partners{
    &__wrap{
      grid-template-columns: repeat(2,1fr);
    }
  }
}