:root{
  --light_color: #fff;
  --btn-text_color: #513F29;
  --btn_color: #F3D5AE;
  --btn_color--hover: #F6C483;
  --btn-text_color--hover: #46341D;
  --text_color: #262626;
  --text_color2: #595959;
  --accent_color: #7F713E;
}